.loading {
  font-size: 2rem;
  margin: 200px auto 0;
  animation: spin 1s infinite; /* we can use "linear" to spin it in a loop without the stop animation */
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}